<div class="row">
  <div class="small-6 small-centered columns">
    <h1>Todo List</h1>
  </div>
</div>
<div class="row">
  <div class="small-6 small-centered columns">
    <form id="new_task">
      <input type='text' name='name' id='new_task_name'>
      <button type='submit' value='Create'>Create</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="small-6 small-centered columns">
    <ul>
      <% tasks.models.forEach(function (task) { %>
        <li class="input"><%= task.get('name') %></li>
        <button class="editTask">Edit</button>
        <button class="deleteTask">Delete</button>
      <% }) %>
    </ul>
  </div>
</div>